<form method="POST">
	<p>
	<input type="text" name="title" placeholder="Title" class="full-width" 
	value="<%= @post.title if defined?(@post.title) %>" pattern="[a-zA-Z0-9 ]+" required />
	</p>
  <p>
  <input type="text" name="description" placeholder="Description" class="full-width" 
  value="<%= @post.description if defined?(@post.description) %>" pattern="[a-zA-Z0-9 ]+" required />
  </p>
	<p>
	<input type="text" name="slug" placeholder="Slug" class="full-width" 
	value="<%= @post.slug if defined?(@post.slug) %>" pattern="[a-zA-Z0-9-]+" required />
	</p>
	<p>
	
	<div id="toolbar" style="display: none;">
    <a textarea-command="bold" title="CTRL+B" class="button"><i class="fa fa-bold" aria-hidden="true"></i></a>
    <a textarea-command="italic" title="CTRL+I" class="button"><i class="fa fa-italic" aria-hidden="true"></i></a>
    <a textarea-command="createLink" class="button"><i class="fa fa-link" aria-hidden="true"></i></a>
    <a textarea-command="insertImage" class="button"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
    <a textarea-command="formatBlock" textarea-command-value="h1" class="button">h1</a>
    <a textarea-command="formatBlock" textarea-command-value="h2" class="button">h2</a>
    <a textarea-command="formatBlock" textarea-command-value="h3" class="button">h3</a>
    <a textarea-command="insertUnorderedList" class="button"><i class="fa fa-list" aria-hidden="true"></i></a>
    <a textarea-command="insertOrderedList" class="button"><i class="fa fa-list-ol" aria-hidden="true"></i></a>

    <a href="./admin/files" target="_blank" class="button"><i class="fa fa-upload" aria-hidden="true"></i></i></a>
    
    <a textarea-action="change_view" class="button" onclick='javascript:style.backgroundColor = style.backgroundColor? "":"#e0e0e0";' ><i class="fa fa-file-code-o" aria-hidden="true"></i></a>
    
    <div textarea-dialog="createLink" style="display: none;">
      <div class="row">
        <div class="eight columns">
          <input textarea-dialog-field="href" type="text" value="https://" class="full-width">
        </div>
        <div class="four columns">
          <a textarea-dialog-action="save" class="button">Insert</a>
          <a textarea-dialog-action="cancel" class="button">Cancel</a></div>
      </div>
    </div>
    
    <div textarea-dialog="insertImage" style="display: none;">
      <div class="seven columns">
        <input textarea-dialog-field="src" type="text" value="https://" class="full-width">
      </div>
      <div class="five columns">
        <select textarea-dialog-field="className" >
          <option value="">default</option>
          <option value="pull-left">left</option>
          <option value="pull-right">right</option>
        </select>
        <a textarea-dialog-action="save" class="button">Insert</a>
        <a textarea-dialog-action="cancel" class="button">Cancel</a>
      </div>
    </div>
  </div>

	<textarea id="textarea" name="body" class="full-width" rows="20" required>
	<%= @post.body if defined?(@post.body) %></textarea>
  <script src="./assets/js/textarea_editor.js"></script>
  </p>

  <% if defined?(@post.created_date) %>
  <p>
  <input type="text" name="created_date" placeholder="Created Date" class="full-width" 
  value="<%= @post.created_date if defined?(@post.created_date) %>" />
  </p>
  <% end %>

  <p> 
    <select name="published">
      <% if defined?(@post.published) %>
      <% if @post.published == true %>
      <option value="1" selected>Published</option>
      <% else %>
      <option value="0" selected>Draft</option>
      <% end %>  
      </option>
      <option disabled>──────</option>
      <% end %>
      <option value="1">Published</option>
      <option value="0">Draft</option>
    </select>
  </p>

	<p>
	<input type="submit" value="Save" />
	</p>
</form>