<div class="container">
<table class="full-width">
<thead>
    <tr>
	<th>ID</th>
	<th>Title</th>
	<th>Body</th>
	<th>Slug</th>
	<th class="text-right">Options</th>
	</tr>
</thead>
<tbody>
	<% for Post in @posts %>
	<tr>
		<td><%= Post.id %></td>
		<td><%= Post.title %></td>
		<td><%= Post.seo_slug %></td>
		<td><%= Post.body %></td>
		<td class="text-right">
		<a href="./post/<%= Post.id %>" class="btn btn-secondary btn-sm">View</a>
		<a href="./post/edit/<%= Post.id %>" class="btn btn-secondary btn-sm">Edit</a> 
		<a href="./post/delete/<%= Post.id %>" class="btn btn-danger btn-sm" onClick="return confirm('Are you sure you want to delete?');">Delete</a>
		</td>
	</tr>
	<% end %>  
</tbody>
</table>
<%= will_paginate @posts %>
</div>