<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= @pageDescription %>">
    <meta name="author" content="Chris Brocklesby">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="og:description" content="<%= @pageDescription %>">
    
    <base href="<%= settings.url %>">
    
    <title><%= @pageTitle %></title>

    <link rel="canonical" href="<%= settings.url %><%= @pageCanonical %>">
    <link rel="alternate" href="./rss.xml" type="application/rss+xml" title="Website Name">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="icon" href="./assets/icons/favicon.ico">
    <link rel="apple-touch-icon" href="./assets/icons/icon-apple-default.png">
    <link rel="apple-touch-icon" href="./assets/icons/icon-apple-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="./assets/icons/icon-apple-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="./assets/icons/icon-apple-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="./assets/icons/icon-apple-180x180.png" sizes="180x180">

    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/typed.js"></script>
  </head>
  <body>

  <header>  
    <nav id="nav">
      <div class="container">
        <a href="./">> <span class="element">Joe Blogs</span></a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">&#9776;</a>
      
        <a href="#" class="pull-right button button-primary " style="margin-top: 10px">Hire Me</a>
        <a href="#contact" class="pull-right">Contact</a>
        <a href="#about" class="pull-right">About</a>
        <a href="./post" class="pull-right">Blog</a>
        <a href="./" class="pull-right">Portfolio</a>
        <a href="./" class="pull-right">Home</a>
      </div>
    </nav>
  </header>
    
  <%= yield %>

  <footer>
    <center>
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-github" aria-hidden="true"></i>
      <i class="fa fa-stack-overflow" aria-hidden="true"></i>
      <i class="fa fa-skype" aria-hidden="true"></i>
      <i class="fa fa-slack" aria-hidden="true"></i>
      <br/>
      <%= settings.sitename %>, Copyright &copy; <%= Date.today.year %>
    </center>
  </footer>      
      
  </body>
<html>